@model List<WebApp.Models.User>
@{
    ViewData["Title"] = "Usuarios";
}
<h2>Usuarios</h2>

<div class="d-flex justify-content-end mb-3">
    <a asp-action="Create" class="btn btn-success">+ Create new user</a>
</div>

<table class="table table-striped ">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@user.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>